.center {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.swiper-pagination-bullets {
    bottom:0px !important;
 } 

ion-slides {
    min-height:140px;
}

.welcome-vert-center {
    padding-top:5%;
    padding-bottom:auto;
}

.quickactions {
    font-size:17px;
}

.quickactions-card {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}