
.recipe-label {
    margin-right:10px;
    font-weight:bold;
}

.vert-align {
    vertical-align:middle;
}

.textbox {
    background: #222 !important;
    border-radius: 10px !important;
    height: 45px !important;
    font-size: 1em !important;
    transition:0.2 all ease;
}
.textbox:focus {
    background: #444 !important;
    transition:0.2 all ease;
}

.liked {
    color: #ff8a8a;
}

ion-card {
    margin:20px;
}

ion-icon {
    font-size:20px;
}