
.recipe-label {
    margin-right:10px;
    font-weight:bold;
}

.vert-align {
    vertical-align:middle;
}

.textbox:focus {
    background: #444 !important;
    transition:0.2 all ease;
}

.liked {
    color: #ff8a8a;
}

ion-card {
    margin:20px;
}

ion-icon {
    font-size:20px;
}