
.recipe-label {
    margin-right:10px;
    font-weight:bold;
}

.vert-align {
    vertical-align:middle;
}

.searchbar-input {
    background: rgba(255,255,255,0.1) !important;
    border-radius: 10px !important;
    height: 40px !important;
    font-size: 1em !important;
    transition:0.2 all ease;
}
.searchbar-input:focus {
    background: rgba(255,255,255,0.2) !important;
    transition:0.2 all ease;
}

.liked {
    color: #ff8a8a;
}

ion-card {
    margin:20px;
}

ion-icon {
    font-size:20px;
}